body{
    background-color:beige;
  }
  #contacts{
    background-color: beige;
  }
  .card{
    background-color: bisque;
 }
 h2:hover{
    color: #fd4766;
    transform: scale(1.2);
 }
 img{
    width: 130px;
 }
 img:hover{
    transform: scale(1.5);
 }









 