body{
    background-color:beige;
  }
  #project{
    background-color: beige;
  }
  .card{
    background-color: bisque;
 }
 h2:hover{
    color: #fd4766;
    transform: scale(1.2);
 }
 /* .card:hover {
    transform: rotate(-1.25deg) scale(1.08);
    background-color:rgb(253, 214, 166);
  } */